.footer {
  padding: 80px 0;
  background: var(--color-black);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  margin-top: 40px;

  @include media(tablet down) {
    padding: 48px;
  }
}

.footer__container {
  --row-gap: 24px;

  @extend %container;

  grid-template-areas:
    "logo logo logo logo logo logo . github github . linkedin linkedin"
    "cookie cookie cookie cookie cookie cookie . twitter twitter . mail mail";

  @include media(tablet down) {
    grid-template-columns: 1fr;
    grid-gap: 32px;
    padding: 0;

    grid-template-areas:
      "logo"
      "github"
      "twitter"
      "linkedin"
      "mail"
      "cookie";
  }
}

.footer__logo {
  grid-area: logo;

  @include media(tablet down) {
    margin-bottom: 16px;
  }
}

.footer__cookie-note {
  grid-area: cookie;

  @include media(tablet down) {
    margin-top: 24px;
  }
}

.footer__social-link {
  display: flex;
  align-items: center;
  color: var(--color-white);

  svg {
    margin-right: 24px;
  }

  &:hover {
    .footer__social-link-text::after {
      transform: scaleX(1);
    }
  }
}

.footer__social-link--github {
  grid-area: github;
}

.footer__social-link--twitter {
  grid-area: twitter;
}

.footer__social-link--linkedin {
  grid-area: linkedin;
}

.footer__social-link--mail {
  grid-area: mail;
}

.footer__social-link-text {
  position: relative;
  padding-bottom: 2px;
  font-weight: bold;
  line-height: 22px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--color-white);
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--color-accent);
    transform: scaleX(0);
    transition: transform 300ms ease-out;
    transform-origin: left;
  }
}
