.header {
  padding: 24px 40px;
  display: flex;
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
  justify-content: space-between;

  @include media(mobile down) {
    flex-direction: column;
  }

  &__links {
    display: flex;
    align-items: center;

    @include media(mobile down) {
      margin-top: 16px;
    }
  }

  &__link {
    color: var(--color-text-dark);
    position: relative;

    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }

    &:not(:last-child) {
      margin-right: 16px;
    }

    &::after {
      @include stretch(auto, 0, 0, 0);
      content: "";
      height: 2px;
      background-color: var(--color-text-dark);
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 150ms ease-in;
    }
  }
}
