.header {
  background-color: var(--color-white);
  color: var(--color-mine);
  padding: 40px 0;

  @include media(tablet down) {
    padding: 24px;
  }
}

.header__content {
  max-width: calc(12 * var(--column-width) + 11 * var(--column-gap));
  width: 100%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-gap: 16px;
  align-items: center;
  justify-items: flex-start;
}

.header__theme-switch-button {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-mine);
  padding: 0;
  // background-color: var(--color-bg-primary);
  overflow: hidden;

  &:hover {
    &::after {
      transform: translate(3px, -3px) rotate(45deg);
    }
  }

  &:focus {
    outline: 0;
  }

  &::after {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    background-color: var(--color-mine);
    content: '';
    transform: translate(14px, -14px) rotate(45deg);
    transition: 300ms transform ease-out;
    pointer-events: none;
  }
}

.header__contact-link {
  position: relative;
  color: var(--color-mine);

  @include media(tablet down) {
    font-size: 18px;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    bottom: -2px;
  }

  &::before {
    background-color: var(--color-mine);
  }

  &::after {
    background-color: var(--color-accent);
    transform: scaleX(0);
    transition: transform 300ms ease-out;
    transform-origin: left;
  }
}
