.main-hero-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding: 12.5vw 5.20833vw 10.677083vw;
  position: relative;

  &__title {
    font-size: 5vw;
    margin: 0;
    font-weight: 500;
  }

  &__description {
    font-size: 2vw;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 1vw;
    opacity: 0.5;
  }

  &__game-trigger {
    -webkit-appearance: none;
    width: 100px;
    height: 86.6px;
    cursor: pointer;
    background-color: transparent;
  }

  &__game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}
