.section {
  @extend %container;
  margin-top: 40px;
  margin-bottom: 72px;

  @include media(tablet down) {
    display: block;
  }
}

.section__title {
  grid-column: 1 / 12;
}

.section__entries {
  grid-column: 6 / 12;
  margin: 72px 0 0;

  @include media(desktop) {
    grid-column: 6 / 12;
  }

  @include media(tablet down) {
    grid-column: 1 / -1;
    margin-top: 40px;
  }
}

.section__entry {
  &:not(:first-child) {
    margin-top: 72px;
  }
}

.section__entry-header {
  @include media(tablet down) {
    padding-left: 24px;
  }
}

.section__entry-title {
  @include media(tablet down) {
    position: relative;

    &::before {
      width: 12px;
      height: 12px;
      position: absolute;
      bottom: 9px;
      left: -24px;
    }
  }
}

.section__entry-subtitle {
  text-transform: uppercase;
  opacity: 0.9;
  font-size: 18px;
  line-height: 1.3;
  font-weight: bold;
  margin-left: 12px;

  @include media(tablet down) {
    font-size: 14px;
    display: inline-block;
    margin-left: 4px;
  }
}

.section__entry-body {
  padding-left: 104px; // 1 column (80px) + 1 gap (24px)
  margin-top: 16px;
  font-size: 20px;
  line-height: 1.7;

  @include media(tablet down) {
    padding-left: 24px;
  }

  strong {
    font-weight: bold;
    text-decoration: underline;
  }
}

.section__entry-description {
  margin: 0;
}
