.technology-list {
  display: grid;
  grid-gap: 16px;

  margin-top: 24px;

  @include media(desktop up) {
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
  }

  @include media(tablet down) {
    grid-template-columns: 1fr 1fr;
  }
}

.technology-list__item {
  display: grid;

  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  grid-gap: 16px;

  padding: 8px;

  background-color: var(--color-bg-secondary);

  & > svg {
    width: 32px;
    height: 32px;
    border: 2px solid var(--color-mine);
    background-color: var(--color-mine);
  }
}
