<section class="section about-section">
  <h2 class="section__title"> About me </h2>

  <div class="about-section__content">
    <p> My name is Stjepan Petrusa, but I also go as Stefan or Steven. I'm a JavaScript Engineer currently based in Zagreb, Croatia. </p>
    <p> Since my early days I've been passionate about science, exploration, and trying new and different things. As a developer, I like to adopt those passions in products I'm working on, so they bring impressive experience to users, but also to all developers working on those projects. </p>
    <p> In my free time I like to enjoy the nature, either on my feet or on a bike.   </p>
  </div>
</section>
