<section class="section education-section">
  <h2 class="section__title"> Education </h2>

  <ul class="section__entries">
    <li class="section__entry">
      <div class="section__entry-header">
        <h3 class="section__entry-title"> XV. gimnazija </h3>
        <span class="section__entry-subtitle"> Zagreb, Croatia </span>
      </div>

      <div class="section__entry-body">
        <div class="section__entry-description">
          Competing at <a href="https://www.iypt.org/" target="_blank" rel="noopener"> IYPT </a>
        </div>
      </div>
    </li>

    <li class="section__entry">
      <div class="section__entry-header">
        <h3 class="section__entry-title"> University of Zagreb </h3>
        <span class="section__entry-subtitle"> Zagreb, Croatia </span>
      </div>

      <div class="section__entry-body">
        <div class="section__entry-description education-section__university-description">
          <span class="education-section__university-title"> MSc in Computing @ </span> Faculty of electrical engineering and computing
        </div>
      </div>
    </li>
  </ul>
</section>
