<section class="game">
  <button class="game__trigger js-game-trigger" type="button">
    Start a game
  </button>

  <canvas width="300" height="300" class="game__canvas js-game-canvas"></canvas>
</section>
