<section class="hero">
  <div class="hero__content">
    <div class="hero__header">
      <%- include('/components/interactive-logo.ejs', {className: "hero__logo"}); %>
      <a class="hero__contact-link" href="mailto:stjepan.petrusa@gmail.com" target="_blank" rel="noopener"> Contact me </a>
    </div>

    <div class="hero__labels">
      <h1 class="hero__title"> Hey, I'm Stjepan </h1>
      <p class="hero__subtitle"> Frontend engineer, and so much more </p>
    </div>
  </div>
</section>
