<section class="hero">
  <div class="hero__content">
    <div class="hero__header">
      <%- include('/components/interactive-logo.ejs', {className: "hero__logo"}); %>
      <a class="hero__contact-link" href="mailto:stjepan.petrusa@gmail.com" target="_blank" rel="noopener"> Contact me </a>
    </div>

    <h1 class="hero__title"> Hey, I'm Stjepan </h1>
    <p class="hero__subtitle"> But you can call me Steve </p>
  </div>
</section>
