.main-hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;

  &__logo {
    font-size: 72px;
    position: relative;
    font-variation-settings: 'wght' 600;
    font-weight: normal;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 40px;
      height: 120px;
    }

    &::before {
      left: -35px;
    }

    &::after {
      right: -35px;
    }
  }
}
