*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

html {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}

body {
  margin: 0;
  font-family: Circular Std, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  counter-reset: heading2;

  html.is-dark &::before {
    background-position: top;
  }

  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    background-image: linear-gradient(45deg, var(--color-alabaster) 0% 50%, var(--color-mine) 50% 100%);
    background-size: 100% calc(200% + 100vw);
    background-position: bottom;
    transition: 1000ms background-position ease-out;
  }
}

p {
  margin: 16px 0;
  font-size: 20px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--color-text-primary);

  &:hover {
    text-decoration: none;
  }
}

h2 {
  font-size: 64px;
  line-height: 80px;
  display: inline-flex;
  align-items: flex-end;
  margin: 0;
  counter-increment: heading2;

  @include media(tablet down) {
    font-size: 32px;
    line-height: 40px;
    align-items: center;
  }

  &::before {
    content: counter(heading2, decimal-leading-zero);
    width: 32px;
    height: 32px;
    background-color: var(--color-accent);
    color: white;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    margin-right: 20px;

    @include media(desktop up) {
      margin-bottom: 17px;
    }
  }
}

h3 {
  font-size: 36px;
  line-height: 46px;
  display: inline-flex;
  align-items: baseline;
  margin: 0;

  @include media(tablet down) {
    font-size: 28px;
    line-height: 32px;
  }

  &::before {
    content: '';
    width: 16px;
    height: 16px;
    background-color: var(--color-accent);
    margin-right: 8px;

    @include media(tablet down) {
      width: 12px;
      height: 12px;
    }
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  -webkit-appearance: button;
  text-transform: none;
  font: inherit;
  line-height: 1.15;
  margin: 0;
  cursor: pointer;
  text-align: left;
}
