html {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
}

body {
  margin: 0;
  font-family: CircularStd, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
