:root {
  --column-width: 80px;
  --column-gap: 24px;

  @include media(desktop) {
    --column-width: 56px;
  }
}

%container {
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, var(--column-width)));
  grid-gap: var(--column-gap);
  margin: 0 auto;

  @include media(tablet down) {
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
  }
}

%link {
  position: relative;

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--color-text-light);
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--color-accent);
    transform: scaleX(0);
    transition: transform 300ms ease-out;
    transform-origin: left;
  }
}
