%container {
  display: grid;
  grid-template-columns: repeat(12, minmax(auto, 80px));
  grid-gap: 24px;
  margin: 0 auto;

  @include media(tablet down) {
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
  }
}

%link {
  position: relative;

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--color-text-light);
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--color-accent);
    transform: scaleX(0);
    transition: transform 300ms ease-out;
    transform-origin: left;
  }
}
