<header class="header">
  <div class="header__content">
    <%- include('/components/interactive-logo.ejs', {className: "header__logo"}); %>
    <a class="header__contact-link" href="mailto:stjepan.petrusa@gmail.com" target="_blank" rel="noopener"> Contact me </a>
  </div>
</header>
