<section class="main-hero-section js-game-wrapper">
  <canvas id="game-canvas" class="main-hero-section__game"></canvas>

  <div class="main-hero-section__inner js-main-hero-section-content">
    <div class="main-hero-section__text">
      <h1 class="main-hero-section__title">Hi! I'm <span>Stjepan</span></h1>
      <p class="main-hero-section__description">Frontend engineer</p>
    </div>

    <button type="button" class="main-hero-section__game-trigger js-game-trigger"></button>
  </div>
</section>
