<section class="main-hero-section">
  <div class="main-hero-section__logo">
    <div class="main-hero-section__bracket"> {{> svgs/square-bracket}} </div>
    <h1 class="main-hero-section__title">Brackets</h1>
    <div class="main-hero-section__bracket main-hero-section__bracket--reverse"> {{> svgs/square-bracket}} </div>
  </div>
</section>
