<section class="main-hero-section js-game-wrapper">
  <h1 class="main-hero-section__title">Hi! I'm <span>Stjepan</span></h1>
  <p class="main-hero-section__description">Frontend engineer</p>

  <button type="button" class="main-hero-section__game-trigger js-game-trigger">
    <svg width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><path d="M50 0L100 100H0z" fill="#FFF" fill-rule="nonzero"/></svg>
  </button>

  <canvas id="game-canvas" width="300" height="300" class="main-hero-section__game"></canvas>
</section>
