.about-section__content {
  grid-column: 3 / span 8;
  margin-top: 40px;

  background-image: linear-gradient(45deg, var(--color-mine) 0% 50%, var(--color-alabaster) 50% 100%);
  background-size: calc(200% + 8 * var(--column-width) + 7 * var(--column-gap)) 100%;
  transition: 500ms background-position ease-out 400ms;

  background-clip: text;
  background-position: left;
  -webkit-background-clip: text;
  // color: transparent;

  html.is-dark & {
    background-position: right;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  @include media(desktop up) {
    position: relative;

    padding: 24px 40px;
    margin-top: 72px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;

      background-image: linear-gradient(45deg, var(--color-athens-gray) 0% 50%, var(--color-cod-gray) 50% 100%);
      background-size: calc(200% + 8 * var(--column-width) + 7 * var(--column-gap)) 100%;
      transition: 500ms background-position ease-out 400ms;
      background-position: left;

      html.is-dark & {
        background-position: right;
      }
    }
  }
}
