.education-section {
  a {
    @extend %link;
  }
}

.education-section__university-description {
  @include media(desktop up) {
    display: flex;
    align-items: baseline;
  }
}

.education-section__university-title {
  @include media(desktop up) {
    white-space: nowrap;
    margin-right: 6px;
  }
}
