.hero {
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  padding-bottom: 10vw;

  @include media(tablet down) {
    margin-bottom: 40px;
    padding-bottom: 20vw;
  }
}

.hero__content {
  max-width: 12 * 80px + 11 * 24px;
  width: 100%;
  margin: 0 auto;
}

.hero__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  @include media(tablet down) {
    padding: 0 24px;
  }
}

.hero__logo {
  @include media(desktop up) {
    margin-left: 104px;
  }
}

.hero__contact-link {
  position: relative;
  color: var(--color-text-dark);

  @include media(tablet down) {
    font-size: 18px;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    bottom: -2px;
  }

  &::before {
    background-color: var(--color-text-dark);
  }

  &::after {
    background-color: var(--color-accent);
    transform: scaleX(0);
    transition: transform 300ms ease-out;
    transform-origin: left;
  }
}

.hero__title {
  font-size: 104px;
  font-weight: 900;
  margin: 6vw 0 0;

  @include media(tablet down) {
    font-size: 8vw;
    padding: 0 24px;
  }
}

.hero__subtitle {
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
  margin: 16px 0 0;

  @include media(tablet down) {
    padding: 0 24px;
    font-size: 24px;
    line-height: 36px;
    margin-top: 8px;
  }
}
