.hero {
  display: flex;
  justify-content: center;
}

.hero__content {
  max-width: calc(12 * var(--column-width) + 11 * var(--column-gap));
  width: 100%;
  margin: 112px auto;

  @include media(tablet down) {
    margin: 40px auto;
    padding: 0 24px;
  }
}

.hero__title {
  font-size: 104px;
  font-weight: 900;
  margin: 0;

  @include media(tablet down) {
    font-size: 8vw;
  }
}

.hero__subtitle {
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
  margin: 16px 0 0;

  @include media(tablet down) {
    font-size: 24px;
    line-height: 36px;
    margin-top: 8px;
  }
}
