:root {
  --color-base-cod-gray: #141414;
  --color-base-black: #000000;
  --color-base-white: #FAFAFA;
  --color-base-red: #FF4438;
  --color-base-blue: #004CFF;
  --color-base-purple: #7000FF;

  --color-background-dark: var(--color-base-cod-gray);
  --color-background-light: var(--color-base-white);
  --color-text-dark: var(--color-base-black);
  --color-text-light: var(--color-base-white);

  --color-accent: var(--color-base-red);
}

@import "~media-blender";
@import "styles/mixins";
@import "styles/placeholders";
@import "styles/common";

@import "styles/components/sections/education";
@import "styles/components/sections/hero";

@import "styles/components/interactive-logo";
@import "styles/components/footer";
@import "styles/components/section";
@import "styles/components/technology-list";

// DEBUG:
// * {
//   outline: 1px solid red;
// }
