:root {
  --color-base-black: #202020;
  --color-base-white: #FFFFFF;

  --color-background-dark: var(--color-base-black);
  --color-background-light: var(--color-base-white);
  --color-text-dark: var(--color-base-black);
  --color-text-light: var(--color-base-white);
}

@import "~media-blender";
@import "styles/mixins";
@import "styles/common";

@import "styles/components/main-hero-section";
@import "styles/components/header";

// * {
//   outline: 1px solid red;
// }
